.order-form-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $order-form-modal-level;
  display: block;
  width: 100%;
  max-height: 75vh;
  padding-top: 16px;
  overflow-y: auto;
  overscroll-behavior: contain;
  background-color: $white;
  border-radius: 12px 12px 0 0;
  box-shadow: $order-form-modal-shadow;
  transition: transform 300ms ease-in-out;
  transform: translate3d(0, 100%, 0);

  &.is-open {
    display: block;
    transform: translate3d(0, 0, 0);
  }

  .order-checkouts,
  .order-summary {
    margin-bottom: 16px;
  }

  .order-summary {
    margin-bottom: 48px + (4px * 2) + 16px;
  }

  .order-inputs {
    margin-bottom: 8px;
  }

  .button-group {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4px;
    background-color: $white;
  }
}
